 p{
    margin: 0px;
 }       

html {
            font-family: arial, times, sans-serif;
        }
        
        #canvas0 {
            position: absolute;
            display: block;
            left: 0;
            top: 0;
            z-index: -1000;
        }        
        #canvasCover {
            height: 5000px;
            width: 5000px;
            position: absolute;
            left: 0;
            top: 0;
            cursor: none;
            z-index: 40;
        }
        #follower {
            display: none;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: #808080;
            border: 2px dotted grey;
            position: absolute;
            cursor: none;
            position: absolute;
            left: 40%;
            top: 40%;
            z-index: 1;
        }
        #follower.on {
            display: block;
        }
        
      .colorpicker {
	   float: left;
	   margin: 1em;
       z-index: 10;
	 }
	 form {
	   margin: 2em 1em 0 1;
	   text-align: center;
	 }

#currentColorBox{
    height: 52px;
    width: 50px;
    background-color: #808080;
    border: 1px solid grey;
    float: left; clear: bottom;
}
#colorMemHolder{
    margin-top: 10px;
height: 50px;
width: 175px;
}

.colorMem{
    height: 25px;
    width: 25px;
    border: 1px solid grey;
    float: left; 
    
}

.colorMem{
        background-color: #FFFFFF;
}


#previewBox{
    height: 200px;
    width: 200px;
    position: absolute;
}

.preview{
    padding-left: 10px;
    height: 35px;
    width: 200px;
    border: 1px solid black;
    
    
}


.selectedLayer{
    background-color: lightgoldenrodyellow;
    
}

.bigBox{
    height: 250px;
    width: 200px;
    position: relative;

    
    
}



.bigBoxHolder{
    height: 200px;
    width: 200px;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
    
}

.bigBox button{
    position: absolute;
    top: 200px;
    z-index: 10;
}

#newLayerButton{
    left: 100px;
}

  #clear {
          left: 0px;
          top: 225px;
        }
#mergeLayerButton{
    left: 100px;
    top:225px;
}


#fileRef{
    display: none;
    position: absolute;
    top: 2%;
    right: 2%;
    max-height: 230px;
    background-color:  #d9d9d9;
    border-radius: 20px;
    padding: 10px;
    z-index: 105;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3);
    
}

#refPopUp{
    display: none;
    padding: 10px; 
    max-width: 200px;
}

#closeRef{
    border: 1px solid black;
    padding: 5px;
    border-radius: 20%;
    background-color: lightpink;
    z-index: 101;
    position: absolute;
    right: 5px;
    
}

.view-icon{   
    margin-left: 50px;
    background-repeat: no-repeat;
    background-image: url("images/view-icon-open.png");
    background-size: contain;
    height: 30px;
    width: 30px;
    display: inline-block;
    z-index: 101;

}
.view-icon-close{
    background-image: url("images/view-icon-closed.png");
}
